@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* dark mode */

html.dark {
  background-color: #11001F;
  color: white;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
